/** @format */
@import 'variable';

h1 {
    color: red;
}

.select-action {
    width: 160px;
    margin: 20px;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.none {
    display: none;
}
