<div class="mt-4">
    {{! attribute action để chuyển đến trang cần thiết sau khi nhấn submit }}
    <form method="POST">
        <div class="form-group">
            <label for="search">Form test</label>
            <input
                type="text"
                name="search"
                class="form-control"
                id="search"
                placeholder="Form test nè"
            />

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>