<div class="mt-4">
    <form method="POST" action="/pizza-detail/store">
        <div class="form-group">
            <label for="name">Name </label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="image">Image </label>
            <input type="text" class="form-control" id="image" name="image" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" />
        </div>

        <button type="submit" class="btn btn-primary">Create New Pizza</button>
        <a href="/me/stored/all-pizza-collection">Back to all pizza collection</a>
    </form>
</div>
