<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Mua Pizza</button>
        </div>
        <div class="col-lg-9">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{pizzaDetail.name}}</div>
    <div class="card-body">
        <h5 class="card-title">{{pizzaDetail.price}}</h5>
        <img class="rounded" style='object-fit: cover; width: 100%' src={{pizzaDetail.image}} alt="">
    </div>
</div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Wmkf6SvJ9M4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
